// Fontes
$fontePrincipal: Roboto, sans-serif;

// esquema de cores
$corDefundo: #222f3e;
$corPrincipal: #5f27cd;
$corSecundaria: #feca57;
$corBotao: #341f97;
$corDeFundoBody: #4bcffa;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;